[phases.setup]
nixPkgs = ["dotnet-sdk_8"]

[phases.install]
cmds = [
  "if [ -d Travel.Api ]; then cd Travel.Api && dotnet restore; else dotnet restore Travel.Api/Travel.Api.csproj; fi"
]

[phases.build]
cmds = [
  "if [ -d Travel.Api ]; then cd Travel.Api && dotnet publish -c Release -o ../out; else dotnet publish Travel.Api/Travel.Api.csproj -c Release -o out; fi"
]

[start]
cmd = "if [ -d out ]; then cd out && dotnet Travel.Api.dll; else dotnet Travel.Api/bin/Release/net8.0/Travel.Api.dll; fi"
