[phases.setup]
nixPkgs = ["dotnet-sdk_8", "dotnet-runtime_8"]

[phases.install]
cmds = [
  "dotnet restore Travel.sln || dotnet restore Travel.Api/Travel.Api.csproj"
]

[phases.build]
cmds = [
  "dotnet publish Travel.Api/Travel.Api.csproj -c Release -o out -r linux-x64 --self-contained true"
]

[start]
cmd = "cd out && ./Travel.Api"
