[phases.setup]
nixPkgs = ["dotnet-sdk_8", "dotnet-runtime_8"]

[phases.install]
cmds = [
  "dotnet restore Travel.sln || dotnet restore Travel.Api/Travel.Api.csproj"
]

[phases.build]
cmds = [
  "dotnet publish Travel.Api/Travel.Api.csproj -c Release -o out --self-contained false"
]

[start]
cmd = "cd out && dotnet Travel.Api.dll"
